.aboutme{
  display: flex;
  justify-content: space-between;
}

.aboutme-photo{
  margin: 160px 250px;
}

.photo{
  border-radius: 10px;
}

.aboutme-description{
  margin: 300px 500px 0px 0px;
}

.aboutme-description_text{
  color: white;
  font-size: 48px;
  text-align: center;
  width: 650px;
}

.more-info{
  color: #4C8BD9;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.more-info:hover{
  font-size: 24px;
  transition: 0.5s;
  
}