.header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(177, 54, 54);
}

.header-h1{
  color: white;
  margin: 15px;
  position: fixed;
}

.header-menu{
  margin-top: 50px;
  position: fixed;
  right: 20px;
}

.header-menu_list{
  display: flex;
  list-style: none;
}

.menu-list_element{
  color: white;
}

.menu-link{
  color: white;
  text-decoration: none;
  margin: 30px;
  font-size: 20px;
}

.menu-link:hover{
  border-bottom: 2px solid #4C8BD9;
}

