.header{
  display: flex;
  justify-content: space-between;
}

.header-h1{
  color: white;
  margin: 10px;
}

.header-menu{
  margin-top: 20px;
}

.header-menu_list{
  display: flex;
  list-style: none;
}

.menu-list_element{
  color: white;
}

.menu-link{
  color: white;
  text-decoration: none;
  margin: 30px;
  font-size: 20px;
}

.menu-link:hover{
  border-bottom: 2px solid #4C8BD9;
}

